@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat&family=Sacramento&display=swap');
h1{
  margin-top: 50px;
  margin: 0px;
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  color: #497174;
}
p{
  margin: 0;
}
h2{
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #497174;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #D6E4E5;
}
body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
hr{
  border: dotted #EAF6F6 6px;
  width: 5%;
  border-bottom: none;
  margin: 70px auto 70px auto;
}
a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
  color: #eee;
  font-weight: bold;
  font-size: 1.35rem;
}
a:hover{
  color: #EB6440;
}
.profile{
  width: 40%;
  margin: 70px auto 70px auto;
  line-height: 2;
}
.cloud2{
  position: absolute;
  left: 30%;
  bottom: 60%;
}
.container{
  background-color: #EFF5F5;
  position: relative;
  padding-top: 100px;
}
.cloud1{
  position: absolute ;
  top: 2%;
  right: 24%;
}
.mount{
  width: 100%;
  height: 680px;
}
.skill-row{
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
  line-height: 1.5;
}
.skills{
  margin: 70px auto 70px auto;
}
.skill-img1{
  width: 32%;
  float: left;
  margin-right: 30px;
}
.skill-img2{
  width: 28%;
  float: right;
  margin-left: 30px;
  background-color: #EB6440;
  border-radius: 50%;
}
.contact{
  width: 50%;
  margin: 70px auto 70px auto;
  line-height: 2;
}

.btn {
  background: #497174;
  background-image: -webkit-linear-gradient(top,#497174, #D6E4E5);
  background-image: -moz-linear-gradient(top,#497174, #D6E4E5);
  background-image: -ms-linear-gradient(top, #497174, #D6E4E5);
  background-image: -o-linear-gradient(top, #497174, #D6E4E5);
  background-image: linear-gradient(to bottom, #497174, #D6E4E5);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #497174;
  background-image: -webkit-linear-gradient(top, #497174, #2BC4AB);
  background-image: -moz-linear-gradient(top, #497174, #2BC4AB);
  background-image: -ms-linear-gradient(top, #497174, #2BC4AB);
  background-image: -o-linear-gradient(top, #497174, #2BC4AB);
  background-image: linear-gradient(to bottom, #497174, #2BC4AB);
  text-decoration: none;
}
.email-txt{
  margin-bottom: 50px;
}
.footer{
  background-color: #497174;
  padding: 50px 0 20px;
  line-height: 4;
  color: #eee
}
.copyright{
  font-size: .75rem;
}


@media screen and (max-width: 700px) {
  .profile{
    width: 80%;
  }
  h1{
    margin-top: 55px;
    font-size: 3rem;
  }
  .heading{
    font-size: 1.4rem;
  }
  .cloud1{
    right: 18%;
    top: 4%;
  }
  .cloud2{
    left: 20%;
  }
  .contact{
    width: 80%;
  }
  .skill-row{
    width: 80%;
    text-align: center;
  }
  .skill-img1{
    width: 30%;
    float: none;
  }
  .skill-img2{
    width: 30%;
    float: none;
  }
}
